<%- include("head.ejs") %>
    <header>
        <nav class="nav">
                <a class="home" href="/health">HealthHub</a>
                <a href="">Login</a> 
                <a href="">Sign Up</a> 
        </nav>
    </header>
