<%- include("head.ejs") %>
    <header>
        <nav class="nav">
            <p>
                HealthHub
            </p>
            <button>
                <a href="/health">HOME</a>
            </button>
        </nav>
    </header>
