<!DOCTYPE html>
<html lang="en">
    <header>
        <h1>HealthHub</h1>
        <nav class="nav">
            <button>
                <a href="/health">HOME</a>
            </button>
        </nav>
    </header>
</html>