<%- include("partials/head.ejs") %>
<body>
    <header>    
        <%- include("partials/header.ejs") %>
    </header>
    <div class="homepage-container">
        <div class="logo-container">
            <img src="https://live.staticflickr.com/65535/53370913095_2c6451794a_n.jpg" alt="HealthHub Logo" class="homepage-logo">
        </div>
        <div class="introduction">
            <h1>Welcome to HealthHub!</h1>
            <p>Your go-to source for trusted health and wellness information. Explore a variety of topics, read insightful articles, and join a community dedicated to healthy living.</p>
            <a href="/health" class="explore-link">Explore HealthHub</a>
        </div>
    </div>

    <%-include ("partials/footer.ejs") %>
</body>