body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav { 
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

button {
    height: 40px;
    border-radius: 10%;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates as many columns as can fit min 250px */
    grid-gap: 20px; /* This sets the gap between grid items */
    padding: 20px;
   max-width: 1200px; /* Ensure the container takes full width */
   margin: 0 auto;
}

/* Style for each topic box */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 200px;
}

li:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    color: #333333;
    font-size: 1.2em; /* Slightly larger text in the boxes */
    display: block; /* Make the links fill the li for better clickability */
}

img {
    height: 150px;
    width: 150px;
}