<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <ul>
        <% for (let i = 0; i < articles.length; i++) { %>
            <li>
                <a href="/article/<%= encodeURIComponent(articles[i].title) %>">
                    <%= articles[i].title %>
                </a>
            </li>
            <% } %>
    </ul>
</body>
