<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Index</title>
</head>
<body>
    <ul>
        <% for (let i = 0; i < articles.length; i++) { %>
            <li>
                <a href="/article/<%= encodeURIComponent(articles[i].title) %>">
                    <%= articles[i].title %>
                </a>
            </li>
            <% } %>
    </ul>
</body>
</html>