<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <h2>Create Account</h2>
    <form action="/users" method="POST" class="form-signin">
        <fieldset>
            <label for="username">Username:</label>
            <input type="text" name="username">
        </fieldset>
        <fieldset>
            <label for="password">Password:</label>
            <input type="password" name="password">
        </fieldset>
        <input type="submit" value="Register">
    </form>

    <%- include("../partials/footer.ejs") %>
</body>
